* {
    margin: 0px;
    padding: 0px;
/*    border: 1px solid yellow;
*/
} 
body {
    font-family: 'Parisienne', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}
/*NAV*/
nav {
    display: flex;
    width:100%;
    height: 130px;
    justify-content: center;
    background-color: #FFD736;
    align-items: center;
}  
.nav-box { 
    align-content: center;
    width: 90%;
}
nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 20px;
    font-weight: bold;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
nav img {
    width: 100px;
    height: 80px; 
}
nav ul :hover {
    cursor: pointer;
    color: gray;
}

.box {
    display: flex;
    width:90%;
    padding: 20px;
}


/*BANNER*/
.main {
    display: flex;

}
.left {  
    background-color: red;
    width:10%;
}
.right {
    background-color: rebeccapurple;
    width: 10%;
} 
.banners {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 80%; 
    height: 520px; 
    animation: banner 20s infinite linear alternate;
    object-fit: cover; 
    background-size: 100% 100%; 
    animation-delay: ;
    animation-direction: ;
    animation-fill-mode: ;
} 
.banners img {
    object-fit: cover;
}
img {
    object-fit: cover;
    width: 100%;
    height: 520px;}

@keyframes banner
{ 
    0%, 20% {
        background-image: url(../img/fotos/background1.jpg);
    }   
    25%, 50% {  
        background-image: url(../img/fotos/background2.jpg);
    }  
    55%, 70% {
        background-image: url(../img/fotos/background3.jpg); 
    } 
    75%, 100% {
        background-image: url(../img/fotos/background4.jpg);
    }
}
/*EVENTS*/
.events {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 234, 152);
}  
.events-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
}
.events-gallery {
    display: flex; 
    justify-content: center;
    width: 80%;
}
.events-gallery2 {
}
.events-gallery img {
    border: 1px solid white; 
    width: 320px;
    height: 320px;
} 
.events ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:10px;

}
.events-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 40px;
}
/*MARKETING*/
.marketing {
    display: flex;
    background-color: #FFD736;
    justify-content: center;
}
.marketing-box{
    display: flex;
}
.marketing-box-text {
    display: flex;
    align-items: center;
    width: 25%; 
    justify-content: center;
}
.marketing-box-text-g{
    width: 80%;
}
.marketing-box-gallery {
    display: flex;
    justify-content: center;
    width:75%;
}
.marketing-box-gallery-g{
    width: 90%;
}
.marketing-box-gallery-g ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap:10px;
}
.marketing-box-gallery-g img {
    border: 1px solid white; 
    width: 220px;
    height: 220px;
}
/*FRANCHISE*/
.franchise {
    background-color: rgb(243, 234, 152);
    display: flex;
    justify-content: center;
}
.franchise-box {
    display: flex;
    flex-direction: column;
}
.franchise-box ul {
    padding: 20px;
    display: flex;
    gap:25px;
    flex-wrap: wrap;
}
/*UBICATION*/
.locations {
    display: flex;
    justify-content: center;
    background-color: #FFD736;
}
.locations-box {
    display: flex;
    flex-direction: column;
}
/*CONTACT*/
.contact {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 234, 152);
}
/*FOOTER*/
footer {
    background-color: #232457;
    color: aliceblue;
}
@media only screen and (max-width:1000px)
{
.home img 
{
    width:100%;
    height: 400px;
}      
}
@media (max-width: 510px)
{
.home img 
{
    width:100%;
    height: 400px;
}   
.events-gallery img {
    border: 1px solid white; 
    width: 150px;
    height: 150px;
}
.marketing-box {
    background-color:aliceblue;
}
.marketing-box-text{
    width: 100%;
    background-color: violet;
}
.marketing-box-gallery {
    width: 100%;
    background-color: lawngreen;
}
.marketing-box-gallery-g img {
    border: 1px solid white; 
    width: 105px;
    height: 105px;
}
}
/*http://www.heladeriacadore.com.ar/index.html Banner 
https://icecreamcitys.com/ Estructura

https://lamichoacanaweb.com/landing/franquicias-la-michoacana-es/#contacto-2 El resto
*/
