:root {
/*Tipografia*/
    --h1: 28px;
    --h2: 24px;
    --h3: 20px;
    --h4: 16px;
/*Colores*/
    --Mingos-color: #FFD736;
    --White-color: aliceblue;
    --MingosLight-color: rgb(243, 234, 152);
}
* {
    margin: 0px;
    padding: 0px;
/*    border: 1px solid yellow;
*/
} 
body {
    font-family: 'Parisienne', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}
/*WHATSAPP*/
.whatsapp {
    padding: 20px;
    font-size: 30px;
    text-align: center; 
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
nav a {
    margin: 0px;
    position: fixed;
    margin-right: -85%;
    margin-bottom: -160vh;
}
a img:hover{
    opacity: 60%;
    width: 70px; 
    height: 70px;
}
.img-whatsapp {
    display: flex;
    width: 60px;
    height: 60px;
}

/*NAV*/
nav {
    display: flex;
    width:100%;
    height: 100px;
    justify-content: center;
    background-color: var(--Mingos-color);
    align-items: center;
}  
.nav-box { 
    align-content: center;
    width: 90%;
}
nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 20px;
    font-weight: bold;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
nav img {
    width: 200px;
    height: 90px; 
}
nav ul :hover {
    cursor: pointer;
    color: gray;
}
.left {  
    background-color: red;
    width:25%;
}
.right {
    background-color: rebeccapurple;
    width: 25%;
} 

/*BANNER*/
.main {
    display: flex;
    background-color: black;
}
.banners {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%; 
    height: 520px; 
    animation: banner 20s infinite linear alternate;
    background-size: 100% 100%;
    border-radius: 10px;
} 

@keyframes banner
{ 
    0%, 20% {
        background-image: url(../img/fotos/background1.jpg);
    }   
    25%, 50% {  
        background-image: url(../img/fotos/background2.jpg);
        }  
    55%, 70% {
        background-image: url(../img/fotos/background3.jpg); 
    } 
    75%, 100% {
        background-image: url(../img/fotos/background4.jpg);
    }
}

/*EVENTS*/
.events {
    display: flex; 
    background-color:var(--MingosLight-color);
    width: 100%;
}
.events-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}
.events-box2 {
    display: flex;
    justify-content: center;
}
.events img{        
    width: 80%;     
    border-radius: 10px;
}
/*MARKETING*/
.marketing {
    display: flex;
    justify-content: center;
    background-color: var(--Mingos-color);
}
.lg-actions .lg-prev:after {
    content: "◀" !important;
    color: var(--Mingos-color);
 
}
.lg-actions .lg-next:before {
    content: "▶" !important;
    color: var(--Mingos-color);
}
.lg-toolbar .lg-download:after {
    display: none;
    content: "⮯" !important;
    color: #FFD736;
}
.lg-toolbar .lg-close:after {
    content: "☒" !important;
    color: var(--Mingos-color);
}
#lg-counter {
    color: var(--Mingos-color);
}

.lg-backdrop.in {
    opacity: 0.85;
}
.fixed-size.lg-outer .lg-inner {
  background-color:var(--White-color);
}
.fixed-size.lg-outer .lg-sub-html {
  position: absolute;
  text-align: left;
}
.fixed-size.lg-outer .lg-toolbar {
  background-color: transparent;
  height: 0;
}
.fixed-size.lg-outer .lg-toolbar .lg-icon {
  color:var(--White-color);
}
.fixed-size.lg-outer .lg-img-wrap {
  padding: 12px;
}
.lg-sub-html{
    color:var(--Mingos-color);
}
#captions img {
    width: 200px;
    height: 200px;
}
.marketing-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
/*FRANCHISE*/
.franchise {
    background-color:var(--MingosLight-color);
    display: flex;
    justify-content: center;
}
.franchise-box {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.franchise-box ul {
    padding: 20px;
    display: flex;
     gap:25px;
    flex-wrap: wrap;
}
/*UBICATION*/
.locations {
    display: flex;
    justify-content: center;
    background-color:var(--Mingos-color);
}
.locations-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*CONTACT*/
.contact {
    display: flex;
    justify-content: center;
    background-color:var(--MingosLight-color);
}
.contact-box {
    width: 100%;

} 
/*FOOTER*/
footer {
    background-color: #232457;
    color: var(--White-color);
}
@media only screen and (max-width:1000px)
{
    
.left {  
    width:10%;
    }
    .right {
    width: 10%;
    }   
}
@media (max-width: 510px)
{
nav { 
    height: 50px; 
}
nav img {
    width: 50px;
    height: 50px;
}
.left {  
    width:0%;
    }
    .right {
    width: 0%;
    }   
.banners {
    width: 100%;  
    height: 300px;  
    border-radius: 0px;
} 
.events img{        
    border-radius: 10px;
    width: 100%;

}

.marketing {
    display: flex;
    justify-content: center;
    background-color: var(--Mingos-color);
}
#captions img {
    width: 90px;
    height: 90px;
}
.marketing-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 25px;
}
}
/*http://www.heladeriacadore.com.ar/index.html Banner 
https://icecreamcitys.com/ Estructura

https://heladosricco.com

https://lamichoacanaweb.com/landing/franquicias-la-michoacana-es/#contacto-2 El resto
*/
